# Do not add spaces after the equal sign on the actual keys
# Example
# DISCORD_TOKEN=TOKEN.GOES.HERE
DISCORD_TOKEN=

# PREFIX of Bot
# Example
# PREFIX=t!
PREFIX=

# Pterodactyl panel link
HOST=

# DB
MONGO_URL=